<div class="suggestion">
    <img  alt="Shards Agency - Demo Landing Page"
        src="https://nomadlist.com/assets/img/cities/barcelona-spain-500px.jpg">
        <h3>Barcelona</h3>
</div>
<div class="suggestion">
    <img  alt="Shards Agency - Demo Landing Page"
        src="https://nomadlist.com/assets/img/cities/berlin-germany-500px.jpg">
        <h3>Berlin</h3>
</div>
<div class="suggestion">
    <img  alt="Shards Agency - Demo Landing Page"
        src="https://nomadlist.com/assets/img/cities/dallas-tx-united-states-500px.jpg">
        <h3>Dallas</h3>
</div>
<div class="suggestion">
    <img  alt="Shards Agency - Demo Landing Page"
        src="https://nomadlist.com/assets/img/cities/phuket-thailand-500px.jpg">
        <h3>Phuket</h3>
</div>
